/* Assuming Mapa component contains iframe */
iframe {
    width: 100%;
    /* Full width for iframe */
    max-width: 600px;
    /* Adjust max-width as needed */
    height: 200px;
    /* Adjust height as needed */
    border: none;
}

@media screen and (max-width: 768px) {
    iframe {
        height: 150px;
        /* Adjust height for smaller screens */
    }
}