.sensor-data,
.sensor-status {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.sensor-data {
    height: 220px;
    /* Adjust height as needed */
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 2em;
}