.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F15738;
    padding: 10px;
}

.cabecalho img {
    max-width: 100px;
    /* Adjust image size */
}

.sensor-dropdown {
    width: 100%;
    /* Full width dropdown */
    max-width: 300px;
    /* Max width for dropdown */
}

@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
    }

    .sensor-dropdown {
        width: 90%;
    }
}